:host {
  display: block;

  &[data-state="open"] .is-accordion-trigger-icon > div {
    transform: rotate(-180deg);
  }

  &[data-state="open"] .is-accordion-trigger-icon-closed {
    display: none;
  }

  &[data-state="open"] .is-accordion-trigger-icon-open {
    display: block;
  }

  &[data-state="open"] .is-accordion-content {
    grid-template-rows: 1fr;
    opacity: 1;
  }
}

.is-accordion-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
}

.is-accordion-trigger-icon > div {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.is-accordion-trigger-icon-open {
  display: none;
}

.is-accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.is-accordion-content-overflow {
  overflow: hidden;
}
